
<div class="container-fluid">
  <div class="row">
    <h2 class="center">Create a new <strong>Quote:</strong></h2>
  
    <hr>
  
    <form action="" #quoteForm='ngForm'>

      <div class="col-4">

        <div class="form-group">
  
          <label for="theName">Your name:</label>
          <input type="text" required class="form-control" id="theName" [(ngModel)]='newQuote.postBy' name="name">

          <!--  Testing to see if the data will display  -->
          Display {{ newQuote.postBy }} <br>

          <label for="theAuthor">Quote author:</label>
          <input type="text" required class="form-control" id="theAuthor">
    
        </div>

      </div>

      <div class="col-8">

        <div class="form-group">
  
          <label for="theQuote">Quote:</label>
          <textarea name="" class="form-control" id="theQuote" cols="30" rows="4"></textarea>
    
        </div><br>

        <button class="btn">Add Quote</button>

      </div>
  
    </form>

  </div>

  

</div>