<!--  Calling in the properties using the new quotin property that was created in the .ts file as a property that will be receiving its data from the parent component as of type Quotes  -->

<div>

  <div>
    <span><i class="fa fa-thumbs-o-up" aria-hidden="true" id="like" (click)= "likeQuote()">{{ quotin.likes }}</i></span>
    <span><i class="fa fa-thumbs-o-down" aria-hidden="true" id="dislike" (click)="dislikeQuote()">{{ quotin.dislikes }}</i></span>
    <span><i class="fa fa-trash-o" aria-hidden="true" id="delete" (click)= 'deleteQuote(true)'></i></span>
  </div><br>
  <!--  Initialized the delete function that has been defined in ts file within the event binding isDeleted()  -->
        
  <p>
    Shared by <strong id="author">{{ quotin.postBy }}</strong> {{ quotin.postDate | dateCount }} days ago
  </p> 

</div>
     