.body {
  background-color: rgba(255, 247, 233, 0.8);
  border-radius: 5px;
}

section#two {
  background-color: rgba(255, 247, 233, 0.8);
  margin-top: 2rem;
  border-radius: 5px;
  padding: 1rem;
}
