<body>
 

    <div class="allcontents container-fluid">

      <div class="row1" *ngFor="let quotes of quotes  let i = index">
        <p><i class="fa fa-quote-left" aria-hidden="true"></i></p>

        <blockquote>
          {{ quotes.quote }} <br>
          <i><strong class="text-muted">_{{quotes.author}}</strong></i>
        </blockquote>

        <button (click)= 'toggleInsights(i)'>Insights</button>

        <!--  we are binding the new quotin property to the child component so as to have it receive data from the parent component whose properties are of type 'quotes'  -->
        <app-quote-insights *ngIf = 'quotes.showInsights' [quotin]='quotes'></app-quote-insights>

      </div>
      
    </div>
</body>